section .container{
    width: 740px;
}
section .container .row-6{
    width: 100%;
    display: inline-block;
}
section .container .col-md-6 .imagem{
    width: 100%;
    margin-top: 5px;
    margin-left: 100px;
}
section .container .col-md-6 ::-webkit-file-upload-button{
    height: 100px;
}
input[type='file'] { color: transparent; }
section .container .cargo{
    margin-top: 1px;
    width: 300px;
}
section .container2{
    margin-top: 13px;
    margin-left: 12px;
}
section .container3{
    margin-top: 13px;
    margin-left: 12px;
}
section .container4{
    margin-top: 13px;
    margin-left: 12px;
}
section .container5{
    margin-top: 13px;
    margin-left: 12px;
}
section .container6{
    margin-top: 13px;
    margin-left: 12px;
}
section .container .nome{
    width: 277px;
    margin-top: 13px;
    color: #747d8c;
}
section .container .sobrenome{
    width: 300px;
    color: #747d8c;
}
section .container .email{
    width: 300px;
    color: #747d8c;
}
section .container .carteira{
    width: 300px;
    color: #747d8c;
}
section .container .nascimento{
    width: 300px;
    color: #747d8c;
}
section .container .endereco{
    width: 300px;
    color: #747d8c;
}
section .container .estado{
    width: 300px;
    color: #747d8c;
}
section .container .telefone{
    width: 300px;
    color: #747d8c;
}
section .container .pais{
    width: 300px;
    color: #747d8c;
}
section .container .cidade{
    width: 300px;
    color: #747d8c;
}
section .container .codigo{
    width: 300px;
    color: #747d8c;
}
section .container .cargo{
    width: 300px;
    color: #747d8c;
}
section .container .foto{
    width: 300px;
    color: #747d8c;
}
section .container .codigo .form-control{
    background-color: #dfe3ff;
}
section .container .cidade .form-control{
    background-color: #dfe3ff;
}
section .container .nome .form-control{
    background-color: #dfe3ff;
}
section .container .sobrenome .form-control{
    background-color: #dfe3ff;
}
section .container .endereco .form-control{
    background-color: #dfe3ff;
}
section .container .pais .form-control{
    background-color: #dfe3ff;
}
section .container .email .form-control{
    background-color: #dfe3ff;
}
section .container .telefone .form-control{
    background-color: #dfe3ff;
}
section .container .estado .form-control{
    background-color: #dfe3ff;
}
section .container .codigo .form-control{
    background-color: #dfe3ff;
}
section .container .cargo .form-control{
    background-color: #dfe3ff;
}
section .container .nome .form-control{
    background-color: #dfe3ff;
}
section .container .nascimento .form-control{
    background-color: #dfe3ff;
}
section .container .carteira .form-control{
    background-color: #dfe3ff;
}
section{
    width: 10px;
    height: 1830px;
    margin-left: 14px;
    margin-top: 14px;
}
section #sessao{
    width: 10px;
    height: 200px;
}
#container1{
    margin-left: -10px;
    height: 100%;
    width: 754px;
}
#container2{
    height: 100%;
    position: fixed;
    width: 728px;
    top: 0;
    margin-left: 624px;
    background-color: #0652DD;
}
section .container .col-md-6 .states{
    height: 500px;
}
section #dvCentro{ 
    position: absolute; 
    margin-top: 25px; 
    width: 578px; 
    margin-left: 10px;
}
section .container7{
    width: 598px;
}
section .container7 #texto{
    margin-left: 10px;
    margin-top: 20px;
}
section #titulo{
    width: 420px;
    margin-left: 12px;
    margin-bottom: 30px;
}
section .container7 #texto small{
    color: #747d8c;
    text-align: justify;
}
section .container8{
    width: 596px;
    margin-top: 384px;
    margin-left: 9px;
}
section .container8 #texto2 small{
    color: #747d8c;
    text-align: left;
}
section .container .botao{
    background: none;
    border: none;
    margin-top: 14px;
    margin-left: 5px;
    color: #0652DD;
    font-weight: bold;
}
#minhaDiv{
    display: none;
}
section .container9{
    width: 596px;
    margin-top: 45px;
    margin-left: 9px;
}
section .container9 #texto2 small{
    color: #747d8c;
    text-align: left;
}
section .container10{
    width: 588px;
    margin-top: 45px;
    margin-left: 9px;
}
section .container10 #texto2 small{
    color: #747d8c;
    text-align: left;
}
section .container8 .botao2{
    background: none;
    border: none;
    margin-top: 30px;
    margin-left: 5px;
    color: #0652DD;
    font-weight: bold;
}
section .container9 .botao3{
    background: none;
    border: none;
    margin-top: 14px;
    margin-left: 5px;
    color: #0652DD;
    font-weight: bold;
}
section .container10 .botao4{
    background: none;
    border: none;
    margin-top: 25px;
    margin-left: 5px;
    color: #0652DD;
    font-weight: bold;
}
section .container8 .container-emprego{
    position: relative;
    top: 11px;
    background: #fff;
    width: 500px;
    height: 240px;
}
section .container8 .cargo2{
    width: 250px;
    color: #747d8c;
}
section .container8 .emprego2{
    width: 250px;
    color: #747d8c;
}
section .container8 .data1{
    width: 250px;
    color: #747d8c;
}
section .container8 .data2{
    width: 250px;
    color: #747d8c;
}
section .container8 .estado2{
    width: 250px;
    color: #747d8c;
}
section .container8 .cidade2{
    width: 250px;
    color: #747d8c;
}
section .container8 .cargo2 .form-control{
    background-color: #dfe3ff;
}
section .container8 .emprego2 .form-control{
    background-color: #dfe3ff;
}
section .container8 .data1 .form-control{
    background-color: #dfe3ff;
}
section .container8 .data2 .form-control{
    background-color: #dfe3ff;
}
section .container8 .estado2 .form-control{
    background-color: #dfe3ff;
}
section .container8 .cidade2 .form-control{
    background-color: #dfe3ff;
}
section .container8 .linha2{
    margin-top: 18px;
    margin-left: -2px;
}
section .container8 .linha3{
    margin-top: 13px;
    margin-left: -2px;
}
section .container8 .linha1{
    position: relative;
    top: 6px;
    margin-left: -2px;
}
